a {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(241, 241, 241);
    font-size: 2vw;
    position: relative;
    width: 20%;
    text-decoration: none;
}
a:hover {
    font-size: 2.2vw;
    color: rgb(40, 42, 53);
    max-width: 20px;
    height: 20px;
    background-color: rgb(249, 246, 243);
    border-radius: 5px;
    z-index: 1;
    box-shadow: -1px 2px rgb(223, 220, 217);
}

div.main-div {
    position: fixed;
    background-color: rgb(40, 42, 53);
    width: 99%;
    border-radius: 10px;
    border-style: inset;
}

img {
    width: 100%;
    border-style: none outset outset outset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}